<section>
    <a class="title is-6 mt-0 pt-0" asp-area="" asp-controller="SchoolClass" asp-action="SchoolClass" asp-route-id="@Model.SchoolClass.Id">
        @Model.SchoolClass.Name
    </a>
</section>