@{
    Layout = "_Layout";
}
@{
    ViewData["Title"] = "PersonalAccount";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Personal Account</title>
</head>
<body>
    <div class="container">
    </div>
</body>
</html>

